<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0429BD76-9A12-44F1-B2C2-2C2CE38BB98A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2DC3B6A1-DD71-4317-A75F-ECA7ADD2C7C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19FFAE67-F890-4D4F-8EEE-313D984731E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE3B7F7A-D7C7-44A8-9579-7573120FAEF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22486A2E-E6B1-40A7-BD5C-57631EC9C919</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DC3B6A1-DD71-4317-A75F-ECA7ADD2C7C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>922BAC94-6FB3-4298-8B7A-ED5ACF793550</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF693CF4-5473-4A4E-A0D2-4576C2C41D95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC784E45-C6F4-42CF-A149-2F9EA7E4FA48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22486A2E-E6B1-40A7-BD5C-57631EC9C919</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jérémie Fontana</string>
	<key>description</key>
	<string>Base64</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Base64</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo $query | base64</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22486A2E-E6B1-40A7-BD5C-57631EC9C919</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>encode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC784E45-C6F4-42CF-A149-2F9EA7E4FA48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>72E910A8-F09C-4863-9F54-F60E273C59AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>decode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Decode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0429BD76-9A12-44F1-B2C2-2C2CE38BB98A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Added to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo $query | base64 --decode</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2DC3B6A1-DD71-4317-A75F-ECA7ADD2C7C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $'\n' &amp;&amp; echo {query} | base64 &amp;&amp; echo $'\n'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>FF693CF4-5473-4A4E-A0D2-4576C2C41D95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>encode term</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Encode in Terminal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>922BAC94-6FB3-4298-8B7A-ED5ACF793550</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $'\n' &amp;&amp; echo {query} | base64 --decode &amp;&amp; echo $'\n'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CE3B7F7A-D7C7-44A8-9579-7573120FAEF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>decode term</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Decode in Terminal</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19FFAE67-F890-4D4F-8EEE-313D984731E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0429BD76-9A12-44F1-B2C2-2C2CE38BB98A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>19FFAE67-F890-4D4F-8EEE-313D984731E9</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>1EB2B864-2602-4BF2-AEE5-80092DCE02FF</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>22486A2E-E6B1-40A7-BD5C-57631EC9C919</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2DC3B6A1-DD71-4317-A75F-ECA7ADD2C7C2</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>72E910A8-F09C-4863-9F54-F60E273C59AB</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>922BAC94-6FB3-4298-8B7A-ED5ACF793550</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>CE3B7F7A-D7C7-44A8-9579-7573120FAEF0</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>FC784E45-C6F4-42CF-A149-2F9EA7E4FA48</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FF693CF4-5473-4A4E-A0D2-4576C2C41D95</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://jfontana.fr</string>
</dict>
</plist>
