<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>huyc0769.eudic-lookup</string>
	<key>connections</key>
	<dict>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C853EDFA-25B0-46BC-9FF7-F5487685AD45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEA8521A-9128-44A7-8C16-5B62043D3645</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hu Yingcong</string>
	<key>description</key>
	<string>look up certain words in Eudic.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eudic-lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>d</string>
				<key>subtext</key>
				<string>在欧路词典中搜索 "{query}"</string>
				<key>text</key>
				<string>seach for "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C853EDFA-25B0-46BC-9FF7-F5487685AD45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Eudic"
		reopen		show dic with word q	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EEA8521A-9128-44A7-8C16-5B62043D3645</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Author: Hu Yingcong</string>
	<key>uidata</key>
	<dict>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>C853EDFA-25B0-46BC-9FF7-F5487685AD45</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>E00580CC-6D50-42F2-9673-D53416588AB0</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>EEA8521A-9128-44A7-8C16-5B62043D3645</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
